<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title>MM2K24 Registrations</title>
</head>
<body>
        <nav class="navbar">
        <a class="regform">Registration Form</a>
        
        <a class="ht2">MOHANA MANTRA 2024</a>
      </nav>
        <div class="content">
            <img src="./image/mm2k24reg.png">
            <h2 class="date_info">Date: 04 to 06 Oct</h2>
        
            <a class="ticket" href="" target="_blank">Buy your Pass!</a>

            <p class="alert">***Upon completing the payment, kindly await the redirection to the Google Form. Subsequently, please submit the form. Thank you***</p>
        </div>
   
</body>
</html>